[Desktop Entry]
Name=Olvid 
Exec=olvid-tsugu
Icon=${SNAP}/meta/gui/olvid-tsugu.png
Comment=Secure messenger
Terminal=false
Type=Application
MimeType=x-content/unix-software;
